﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- DataTables  & Plugins -->
    <script src="/Content/custom/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/custom/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/custom/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/custom/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Content/custom/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Content/custom/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Content/custom/jszip/jszip.min.js"></script>
    <script src="/Content/custom/pdfmake/pdfmake.min.js"></script>
    <script src="/Content/custom/pdfmake/vfs_fonts.js"></script>
    <script src="/Content/custom/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Content/custom/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Content/custom/datatables-buttons/js/buttons.colVis.min.js"></script>

    @RenderSection("scripts_external", required: false)
</body>
</html>
