﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET example :)</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputId">ID</label>
            <input type="text" class="form-control" id="inputId" placeholder="Id">
            <span style="color:yellowgreen;">Make sure give an uniq id for employee id </span>
        </div>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="name">
        </div>
        <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
        <button type="button" class="btn btn-default" id="btnCancel">cancel</button>
        <button type="button" class="btn btn-success" id="btnEdit">Edit</button>
    </div>
    <div class="col-md-6">
        <table id="tbl" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



@section scripts_external{

    <script type="text/javascript">

        var tbl;
        var editId;

        init();
        loadEmployeeList();


        $("#btnAdd").click(function () {

            var sltstaff = {};
            sltstaff.emp_id = $("#inputId").val();
            sltstaff.name = $("#inputName").val();
            sltstaff.is_active = 1;

            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateEmployee")',
                data: JSON.stringify(sltstaff),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.Message.includes("Error")) {
                        alert(response.Message);
                    } else {

                    }
                    showAdd();
                    loadEmployeeList();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Response : status - " + xhr.status + ",thrown - " + thrownError);
                }
            });
            return false;

        });

        $("#btnEdit").click(function () {

            var sltstaff = {};
            sltstaff.emp_id = $("#inputId").val();
            sltstaff.name = $("#inputName").val();

            var sltstaffview = {};
            sltstaffview.sltstaff = sltstaff;
            sltstaffview.editEmployeeId = editId;

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateEmployee")',
                data: JSON.stringify(sltstaffview),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {                 
                    if (response.Message.includes("Error")) {
                        alert(response.Message);
                    } else {

                    }
                    showAdd();
                    loadEmployeeList();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert("Response : Data not updated");
                    alert("Response : status - " + xhr.status + ",thrown - " + thrownError);
                }
            });
            return false;
        });

        $("#btnCancel").click(function () {
            showAdd();
        });

        function init() {
            showAdd();
        }

        function showAdd() {
            $("#btnAdd").show();
            $("#btnCancel").hide();
            $("#btnEdit").hide();

            $("#inputId").val('');
            $("#inputName").val('');
        }

        function showEdit() {
            $("#btnAdd").hide();
            $("#btnCancel").show();
            $("#btnEdit").show();
        }

        function loadEmployeeList() {

            $('#tbl').DataTable().clear().destroy();

            $(document).ready(function () {
                tbl = $('#tbl').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "dom": 'Bfrtip',
                        "lengthMenu": [5, 10, 20, 30],
                        "pageLength": 5,
                        //"buttons": ["copy", "csv", "excel", "pdf", "print"],
                        "ajax": {
                            "url": "/Home/GetEmployeeDetails",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "width": "30%", "targets": 0,
                                "width": "40%", "targets": 1,
                                "width": "30%", "targets": 2
                            },
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 2,
                                "data": "active",
                                "render": function (data, type, row, meta) {
                                    return '<input type="button" class="btn btn-info edit" id=n-"' + meta.row + '" value="Edit"/> <input type = "button" class="btn btn-danger delete" id = s-"' + meta.row + '" value = "Delete"/> ';
                                }
                            }
                        ],
                        "columns": [
                            { "data": "emp_id" },
                            { "data": "name" },
                            { "data": "" }
                        ]
                    }
                )

                /* when only one button available
                 *
                 * $('#tbl tbody').on('click', 'button#viewRowId', function () {
                    var data = tbl.row($(this).parents('tr')).data();
                    console.log("id - " + data["emp_id"] + ",name - " + data.name);//works both ways

                    editId = data.emp_id;
                    $("#inputId").val(data.emp_id);
                    $("#inputName").val(data.name);

                    showEdit();
                });*/

                $('#tbl tbody').on('click', '.edit', function () {
                    var id = $(this).attr("id").match(/\d+/)[0];
                    var data = tbl.row(id).data();
                    console.log(data["emp_id"]);

                    editId = data.emp_id;
                    $("#inputId").val(data.emp_id);
                    $("#inputName").val(data.name);

                    showEdit();
                });

                $('#tbl tbody').on('click', '.delete', function () {
                    var id = $(this).attr("id").match(/\d+/)[0];
                    var data = tbl.row(id).data();
                    console.log(data.emp_id);

                    deleteEmployee(data.emp_id);
                });
            });
        }

        function deleteEmployee(deleteId) {

            $.ajax({
                type: "POST",
                url: '/Home/DeleteEmployee',
                data: '{"deleteId":"' + deleteId + '"}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.Message.includes("Error")) {
                        alert(response.Message);
                    } else {

                    }
                    showAdd()
                    loadEmployeeList();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert("Response : Data not updated");
                    alert("Response : status - " + xhr.status + ",thrown - " + thrownError);
                }
            });
            return false;
        }



    </script>
}